 
 <h2> <%=t(:login) %>:</h2>
  <% form_for :user do |f| %>
    <%= f.label :username, t(:username) %>:
    <%= f.text_field :username %><br />
	
    <%= f.label :password, t(:password) %>:
    <%= f.password_field :password %><br />
	<%= submit_tag t(:login) %>
  <% end %>
  <%= link_to t(:register), registrations_url%>
