<h2>Käyttäjätiedot</h2>
<%= link_to "Etusivulle" , "/"%>
<br />
<h3>Päivitä käyttäjätiedot</h3>
<%if @user!=@user1%><%=error_messages_for "user"%><%end%>
  <% form_for @user do |f| %>
	
	<%= f.label :first_name, 'Etunimi' %>:
    <%= f.text_field :first_name , :value=>@user.first_name%><br />
	
	<%= f.label :surname, 'Sukunimi' %>:
    <%= f.text_field :surname, :value=>@user.surname %><br />
	
	<%= f.label :student_number, 'Opiskelijanumero' %>:
    <%= f.text_field :student_number, :value=>@user.student_number %><br />
	
	<%= f.label :email, 'Email' %>:
    <%= f.text_field :email, :value=>@user.email %><br />

	
	<%= f.label :password, 'Salasana' %>:
    <%= f.password_field :password , :value =>""%><br />
	
	<br />
	<%= submit_tag "Päivitä" , :confirm => 'Haluatko varmasti päivittää tietosi?'%>
  <% end %>
  
  <h3>Vaihda salasana</h3>
  <%=error_messages_for "user1"%>
  <% form_tag ('/users/1', :method => :put)  do%>
  	<%= label :password, 'Uusi salasana' %>:
    <%= password_field_tag :password %><br />
	
	<%= label :password_confirmation, 'Uusi salasana uudelleen' %>:
    <%= password_field_tag :password_confirmation %><br />
	
	<%= label_tag :password_vanha, 'Vanha salasana' %>:
    <%= password_field_tag :password_vanha%><br />
	<%= submit_tag "Vaihda salasana" , :confirm => 'Haluatko varmasti vaihtaa salasanasi?'%>
  <% end %>
  
  
  <h3>Poista käyttäjätili</h3>
    <% form_for @user do |f| %>
	
	<%= f.label :password, 'Salasana' %>:
    <%= f.password_field :password , :value=>""%><br />
	<%= submit_tag "Poista käyttäjätili" , :confirm => 'Haluatko varmasti poistaa käyttäjätunnuksesi?'%>
  <% end %>

