<h2>Rekisteröinti</h2>
	<%= link_to "Sisäänkirjautumiseen", :action => "index", :controller =>"sessions" %>
  <% form_for @user do |f| %>
  	<%= f.error_messages %>
    <%= f.label :username, 'Käyttäjänimi' %>:
    <%= f.text_field :username %><br />
	
    <%= f.label :password, 'Salasana' %>:
    <%= f.password_field :password %><br />
	
	<%= f.label :password_cofirmation, 'Salasana uudelleen' %>:
    <%= f.password_field :password_confirmation %>
	
	<br />
	<%= submit_tag "Rekisteröi" %>
  <% end %>
