<h2>Rekisteröinti</h2>
	<%= link_to "Sisäänkirjautumiseen", :action => "index", :controller =>"sessions" %>
  <% form_for :user do |f| %>
    <%= f.label :username, 'Käyttäjänimi' %>:
    <%= f.text_field :username %><br />
	
    <%= f.label :password, 'Salasana' %>:
    <%= f.password_field :password %><br />
	
	<%= f.label :password2, 'Salasana uudelleen' %>:
    <%= f.password_field :password2 %>
	
	<br />
	<%= submit_tag "Rekisteröi" %>
  <% end %>