<h2><%= @ex.course_instance.course.name %>: <%=@ex.course_instance.name %></h2>
<h3><%=t (:exgroup) %>:</h3>
<h3><%= @ex.name %></h3>
<%= link_to "Liity kurssiin", :action => "join", :controller =>"exercise_groups", :post=>true, :id=>@ex.id %><br />
<ul>
		
 <%= t (:day) %>: <%= @ex.begins_at.strftime("%a") %>
</ul>
<ul>
   <%= t (:time_name) %>: <%= @ex.begins_at.strftime("%H") %>-<%= @ex.ends_at.strftime("%H") %>
</ul>
<ul>
   <%= t (:classroom) %>: <%= @ex.classroom %>
</ul>
<h3>Kurssiin liittyneet käyttäjät</h3>
<% @ex.users.each do |u| %>
	<ul><%=u.username%>  <%if u.email!=nil && u.email!=""%><%=link_to "Lähetä postia" , :controller =>"mailer", :action =>"show",:user =>u.id%><%end%></ul>
<% end %>

<%= link_to t(:to_courseDesc), course_path(@ex.course_instance.course) %>
<br/>
<%= link_to t(:to_courselist), :action => "index", :controller =>"courses" %>