
 <h2> Kirjaudu:</h2>
  <% form_for @users do |f| %>
    <%= f.label :username, 'Käyttäjänimi' %>:
    <%= f.text_field :username %><br />
	
    <%= f.label :password, 'Salasana' %>:
    <%= f.text_field :password %><br />
	<%= submit_tag "Kirjaudu" %>
  <% end %>
  
<h2>Kurssit:</h2>
<% @courses.each do |course| %>
	<ul><%=link_to course.name, :action=> "show", :controller =>"courses", :id=>course.id%></ul>
<% end %>
